.about-img{
    width: 100%;
    height: 600px;
}
.about-header{
    font-family: 'Barlow', sans-serif;
    letter-spacing: 4px;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 200px;
}
.about-content-main{
    background-color: transparent;
    margin: 100px;
}
.about-content{
    text-align: justify;
    margin: 90px;
    letter-spacing: 2px;
    line-height: 30px;
    color: grey;
    font-family: 'Jost', sans-serif;
}
h3{
    text-align: center;
    color: black;
}

@media(max-width: 800px){
    .about-header{
        font-size: 30px;
    }
    .about-content-main{
        margin: 50px;
       
    }
    .about-content{
        margin: 40px;
        font-size: 14px;

    }
}