.section3-main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 80px;
    align-items: center;
    text-align: center;
    font-family: "Barlow", sans-serif;
    letter-spacing: 2px;
    justify-content: space-evenly;
}
.section3-img{
    height: 400px;
    width: auto;
}
.section3-card{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

@media(max-width: 800px){
    .section3-main{
        margin: 30px;
        text-align: center;
    }
    .section3-img{
        height: 200px;
    }
    .section3-card{
        padding-bottom: 30px;
    }
}